* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: var(--peso);
}
:root {
    --fundo: linear-gradient(241.29deg, #4d4a50 10.31%, #1a1919 93.41%);
    --texto: white;
    --botao: linear-gradient(
      257.91deg,
      #c366ff 17.54%,
      #d37fc8 54.55%,
      #e95582 72.93%
    );
    --botaoTxt: white;
    --input-fundo: white;
    --peso: 300;
}
.white-mode:root {
    --fundo: linear-gradient(232.73deg, #fbfbfb 8.79%, #bebebe 84.88%);
    --texto: rgb(0, 0, 0);
    --botao: linear-gradient(
      260.02deg,
      #a6c3e4 -4.36%,
      #3f87dd -4.35%,
      #7db1ef 45.09%,
      #86bcfc 59.75%
    );
    --botaoTxt: rgb(3, 3, 3);
    --input-fundo: white;
    --peso: 500;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--fundo);
    color: var(--texto);
    padding: 2% 10% 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 50px;
    width: auto;
    min-height: 50%;
    height: auto;
    gap: 10px;
}
section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 30px;
}
textarea{
    border-radius: 2vw;
    padding: 5%;
    height: 45vh;
    width: 20vw;
    box-shadow: 0px 0px 10px 0px rgb(255, 255, 255);
    resize: none;
}

span {
    margin: 15px;
}
h1 {
    text-align: left;
    font-size: 28; 
    margin-top: 30px;
    margin-bottom: 10px;
}
h3 {
    font-size: 20px; 
    margin-top: 30px;
    margin-bottom: 10px;
}
b {
    font-weight: bold;
}
p {
    word-break: normal;
    text-align: justify;
    font-size: 18px;
    line-height: 25px;
}
input {
    text-align: center;
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: auto;
    border-radius: 12px;
    background: var(--input-fundo);
    border-style: none;
    padding: 5px;
}
#result {
    padding: 10px;
    background-color: var(--input-fundo);
    color: black;
    border-radius: 12px;
    width: auto;
    height: auto;
    word-break: break-all;
    border-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
input[type="button"] {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 140px;
    height: 60px;
    display: flex;
    justify-content: center;
    font-size: 1rem;
    align-items: center;
    background: var(--botao);
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    margin: 3% 0;
    transition: 0.2s;
    color: white;
    font-weight: 500;
    align-items: center;
    font-size: 1.3rem;
    cursor: pointer;
}
input[type="button"]:hover {
    transform: scale(110%);
}

label {
    font-size: 1.3rem;
}

#btnSomar,
#btnSub,
#btnMult,
#btnDiv {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    font-size: 1rem;
    align-items: center;
    background: var(--botao);
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    border-style: none;
    margin-top: 5%;
    transition: 0.2s;
    color: white;
    font-weight: 500;
    align-items: center;
    font-size: 2rem;
    text-align: center;
    cursor: pointer;
}
#btnSomar:hover,
#btnSub:hover,
#btnMult:hover,
#btnDiv:hover {
    transform: scale(110%);
}

/**/

.span1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vw;
}

.div1{
    display: flex;
    flex-direction: row;
    height: 70vh;
    width: 60vw;
    justify-content: space-around;
}

.btnArea{
    height: 10vh;
    width: 12vw;
    justify-content: center;
    align-items: center;
}

.btn1{
    height: 8vh;
    width: 13vw;
    border-radius: 2vh;
    background: var(--botao);
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    justify-content: center;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.2s;
}

.btn1:hover{
    transform: scale(110%);
}

.section1{
    background: var(--fundo);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85vh;
    width: 65vw;
    padding: 5vh;
    border-radius: 2vw;
    box-shadow: 0px 0px 20px 0px black;
}

.page2{
    height: 85vh;
    width: 65vw;
    padding: 5vh;
    border-radius: 2vw;
    background: var(--fundo);
    box-shadow: 0px 0px 20px 0px black;
    border-radius: 2vh;
    padding: 5%;
}

#page2{
    display: none;
}