@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,400&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body{
    max-width: 1920px;
    margin: 0 auto;
}

@media( max-width: 1400px){
    body{
        width:1400px;
    }
}

header{
    background-color: #000;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header h1{
    color: #dc3545;
    font-size: 2.5rem;
}

header span{
    color: #fff;
}

header .navegacao{
    display: flex;
    gap: 10px;
    align-items: center;
    padding-top: 25px;
}

header .navegacao li a{
    padding: 15px;
    color: #fff;
    font-size: 1.3rem;
}

header .navegacao li a::after {
    content: '';
    border-bottom: 0px solid transparent;
    display: block;
    transition: .9s ;
}

header .navegacao li a:hover::after {
    width: 100%;
    border-bottom: 4px solid #dc3545;
    padding-bottom: 0px;
}

.section-div{
    background-color: #121010;
    align-items: center;
    gap: 30px;
    padding: 30px;
   
}

.section-div h2{
    color: #f7f7f7;
}

.html{
    background-color: #391418;
    border-radius: 20px;
    margin-top: 20px;
    padding: 25px;
}


.section-div div h2{
    font-family: 'Poppins';
    color: #f7f7f7;
}

.section-div div p{
    font-family: 'Poppins';
    color: #f7f7f7;
}

/* My Service */

.services{
    background-color: #151515;
    margin-top: -30px;
    padding: 90px;
}


.my_service{
    padding: 60px;
    color: #fff;
    padding-top: 80px;
    
}

.my_service ul {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    align-items: center;
    justify-content: center;
}

.my_service ul li{
    cursor: pointer;
    position: relative;
    padding: 10px;
    border-radius: 6px;
    display: grid;
    gap: 10px;
    max-width: 3000px;
    text-align: left;

}

#conteudo{
    display: grid;
    background-color:floralwhite;
    color: #000;
    padding: 25px;
    border-radius: 15px;
}

.prints{
    background-color: #000;
    width: 1000px;
}

.paragrafo{
    color: white;
}

.div-introducao{
    width: 1050px;
    color: #f7f7f7;
}

.introducao1{
    transition: 1s;
    opacity: 0;  
    text-align: center;
    padding-right: 0px;
    border-radius: 15px;
    padding: 15px;
}

.introducao1:hover{
    opacity: 1;
}

.introducao2{
    transition: 1s;
    opacity: 0;  
    text-align: center;
    padding-right: 0px;
    border-radius: 15px;
    padding: 15px;
}

.introducao2:hover{
    opacity: 1;
}

.introducao3{
    transition: 1s;
    opacity: 0;  
    text-align: center;
    padding-right: 0px;
    border-radius: 15px;
    padding: 15px;
}

.introducao3:hover{
    opacity: 1;
}

.introducao div{
    background-color: #5e0300;
    text-align: left;
    padding: 25px;
    border-radius: 15px;
}

.introduca{
    transform: translate(0px);
    animation: float 7s ease-in-out infinite;
}

.topicos{
    color: ;
}

@keyframes float {
    0%{
        transform: translateY(0px);
    }
    33%{
        transform: translateY(-5px);
    }
    66%{
        transform: translateY(5px);
    }
    100%{
        transform: translateY(0px);
    }
}



#flutuando2{
    transform: translate(0px);
    animation: fluat 5s ease-in-out infinite;
}
@keyframes fluat {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-3px);
    }
    100%{
        transform: translateY(0px);
    }
}

#flutuando2 ::before{
    pointer-events: none;
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color: #dc354624;
    left: 0;
    top: 70%;
    transform: perspective(500px) rotateX(80deg) scale(1, 0.75);
    filter: blur(90px);
    opacity: 0.50;
}

#flutuando3{
    transform: translate(0px);
    animation: fleat 8s ease-in-out infinite;
}
@keyframes fleat {
    0%{
        transform: translateY(0px);
    }
    33%{
        transform: translateY(3px);
    }
    66%{
        transform: translateY(-3px);
    }
    100%{
        transform: translateY(0px);
    }
}

.my_service ul li i {
    font-size: 2.7rem;
    color: #dc3545;
    
}

.my_service ul li h3{
    color: #fff;
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    
}

.my_service ul li p{
    color: #707070;
    font-size: 1.1rem;
    
}

.my_service li::before{
    content: '';
    transition: .5s ease-in-out;
    border-radius: 6px;
    width: 0px;
    height: 0px;
    position: absolute;
    top: -2px;
    right: -2px;
    border-top: 2px solid transparent;
    border-right: 2px solid transparent;
}

.my_service li::after{
    content: '';
    transition: .5s ease-in-out;
    border-radius: 6px;
    width: 0px;
    height: 0px;
    position: absolute;
    bottom: -2px;
    left: -2px;
    border-bottom: 2px solid transparent;
    border-left: 2px solid transparent;
}

.my_service li:hover::before{
    width: 100%;
    height: 100%;
    border-top: 2px solid red;
    border-right: 2px solid red;
}

.my_service li:hover::after{
    width: 100%;
    height: 100%;
    border-bottom: 2px solid red;
    border-left: 2px solid red;
}

#action-btn{
    width: 45%;
    background-color: #dc3545;
    border-radius: 20px;
    color: #f7f7f7;
}

#div_html li{
    align-content: center;
}

.projeto{
    background-color: #dc3545;
    width: 100px;
    color: #f7f7f7;
    border-radius: 5px;
    padding: 10px;
}

/*sub menu*/
.dp-menu ul ul{
    color: #fff;
    display: none;
    position: absolute
    
}

.dp-menu ul li:hover ul{
    
    display: block;  
    background-color: #391418;
}

.dp-menu ul ul li{
    padding: 8px;
}

/*sobre mim*/
main{
    background-color: #121111;
    color: #fff;
}

main .sobre{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    justify-content: center;
    padding: 40px;
}

.linguagem_titulo{
    text-align: center;
    background-color: #000;
    padding: 100PX;
}

.linguagem_titulo h1{
    font-size:2.5rem;
    color: #ff5d56;
    margin-bottom: 15px;
}

.linguagem_titulo p{
    color: white;
    font-size: 1.4rem; 
}

.linguagem_titulo div{
    gap: 10px;
    justify-content:center;
}

.linguagem_titulo span{
    display: block;
    width: 20px;
    height: 20px;
    border-radius:50%;
    background-color: #dc3545;
}

.sobre_conteudo{
    animation: upSection .6s ease-in-out forwards;
    grid-column: 2/-1;
    color:#707070;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.sobre_texto{
    display: grid;
    grid-column:1/-1;
    grid-template-columns: 1fr 1fr;
}

.sobre_texto h1{
    font-size:2.3rem;
    color: white;
    grid-column: 1/-1;
}

.sobre_texto h1::after{
    background-color: #ff5d56;
    height: 6px;
    width: 60px;
    margin: 20px 0;
    content: '';
    display: block;
    border-radius: 5px;
}

.sobre_texto p{
    font-size: 1.3rem;
    grid-row: 2;
    grid-column: 1/-1;
}

.sobre_info{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 1/-1;
    gap: 15px;
    align-items: center;
}

.sobre_info i{
    color: #dc3545;
    display: inline-block;
    padding-right: 15px;
    font-size: 1.5rem;
}

.sobre_info p{
    font-size: .9rem;
}